.container {
    max-width: 900px;
    margin: auto;
    padding-top: 10px;
  }
  
  .intro p {
    font-size: 18px;
    color: #555;
  }
  
  .categories .badge {
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .categories .badge:hover {
    transform: scale(1.1);
  }
  
  .review-cards {
    max-width: 300px;
  }
  button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
  }