.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
}


.login-container h2 {
  font-size: 28px;
  color: #333;
  margin-bottom: 30px;
  font-weight: 600;
}

.login-container .error {
  color: #ff3333;
  margin-bottom: 15px;
  font-size: 14px;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container input {
  margin-bottom: 20px;
  padding: 8px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-size: 15px;
  outline: none;
  background-color: transparent;
  transition: all 0.3s;
}


.login-container input::placeholder {
  color: #999;
}


.login-container input[type="text"] {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #42c3f7, #9a4cf5) 1;
  width: 100%;
  border-radius: 3px;
}


.login-container input[type="password"] {
  border-bottom: 1px solid #e0e0e0;
  width: 100%;
  border-radius: 3px;
}

.login-container button.bejelentkezese {
  background: linear-gradient(to right, #42c3f7, #9a4cf5);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: opacity 0.3s;
  text-transform: uppercase;
}

.login-container button.bejelentkezese:hover {
  opacity: 0.9;
}


.logo {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}


.signup-text {
  margin-top: 30px;
  color: #666;
  font-size: 14px;
}

.signup-link {
  color: #666;
  font-weight: bold;
  cursor: pointer;
}