.nbar {
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: space-between;
  top: 0;
  align-items: center;
  padding: 0 1.5rem;
  background: white;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 60px; 
}

.navbar-left {
  display: flex; 
  align-items: center;
  gap: 10px; 
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px; 
  padding: 0;
  margin: 0;
  position: relative;
  top: -2px;
  left: -10px;
}

.menu-button:hover {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.icon {
  width: 24px;
  height: 24px;
  color: #333;
}


.site-logo {
  width: 60px;  
  height: auto;
  margin-right: 8px;
  position: relative;
  top: 0;
  left: -15px;
}


.site-title {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
  margin: 0;
  padding: 0;
  position: relative;
  top: -6px;
  left: -30px;
}

.menu-items {
  display: flex;
  align-items: center; 
  gap: 15px;
  margin-left: auto;
  list-style: none;
  padding: 0;
}

.menu-items a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 4px;
  transition: all 0.3s ease;
  height: 40px; 
  min-width: 120px; 
}

.menu-items .register {
  background-color: black;
  color: white;
  border: none;
  position: relative;
  top: 8px;
  right: 5px;
}

.menu-items .register:hover {
  background-color: #333;
}

.menu-items .login {
  background-color: white;
  color: black;
  border: 0.5px solid black;
  position: relative;
  top: 8px;
}

.menu-items .login:hover {
  background-color: black;
  color: white;
}

@media (max-width: 768px) {
  .menu-items {
    font-size: 12px;
    gap: 10px;
  }
}
