.navbar {
  background-color: #333;
  padding: 10px;
}

.menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; 
}

.menu-items li {
  margin: 0 15px;
}

.menu-items a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.menu-items a:hover {
  text-decoration: underline;
}
