.register {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.register form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register .bejelentkezes {
  display: block;
  font-size: 28px;
  color: #333;
  margin-bottom: 30px;
  font-weight: 600;
  text-align: center;
}

.register label {
  margin-bottom: 15px;
  font-size: 16px;
  color: #666;
  display: flex;
  flex-direction: column;
}

.register br {
  display: none; 
}

.register input {
  margin-top: 8px;
  padding: 12px 10px;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px;
  outline: none;
  background-color: transparent;
  transition: all 0.3s;
  box-sizing: border-box;
}

.register input:focus {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #42c3f7, #9a4cf5) 1;
}

.register input[type="email"] {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, #42c3f7, #9a4cf5) 1;
}

.register button[type="submit"] {
  background: linear-gradient(to right, #42c3f7, #9a4cf5);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
  transition: opacity 0.3s;
  text-transform: uppercase;
}

.register button[type="submit"]:hover {
  opacity: 0.9;
}


@media (max-width: 480px) {
  .register {
    padding: 20px;
  }
  
  .register label {
    font-size: 14px;
  }
  
  .register input {
    font-size: 14px;
  }
}


.logo {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}
